<app-create-vehicle (createVehicle)="addVehicle($event)"></app-create-vehicle>
<br />

<table id="vehicles" class="table table-hover" cellspacing="0">
  <thead>
    <tr>
      <th>Тип транспорту</th>
      <th>Vin-код</th>
      <th>Інвентарний номер</th>
      <th>Реєстраційний номер</th>
      <th>Бренд</th>
      <th>Модель</th>
      <th>Редагувати</th>
      <th>Видалити</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicleItem of vehicles">
      <td>{{ vehicleItem.vehicleType.name }}</td>
      <td>{{ vehicleItem.vincode }}</td>
      <td>{{ vehicleItem.inventoryId }}</td>
      <td>{{ vehicleItem.regNum }}</td>
      <td>{{ vehicleItem.brand }}</td>
      <td>{{ vehicleItem.model }}</td>
      <td>
        <button mat-button data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></button>
      </td>
      <td>
        <button mat-button data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" vehicleType="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" vehicleType="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ви дійсно хочете видалити?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
        <button type="button" class="btn btn-primary" (click)="deleteItem(vehicle.id)">Видалити</button>
      </div>
    </div>
  </div>
</div>