<h1 style="text-align:center">Група</h1>
<p></p>
<app-create-group-malfunc></app-create-group-malfunc>
<p></p>
<table id="group" class="display" style="width: 100%;">
  <thead>
    <tr>
      <th>Група</th>
      <th>Редагувати</th>
      <th>Видалити</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let hero of heroes">
      <td>{{ hero.id }}</td>
      <td>{{ hero.name }}</td>
      <td class="flow">{{ hero.surname }}</td>
      <td>
        <button mat-button  data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></button>
      </td>
    </tr>
  </tbody>
</table>
