.table-caption {
  caption-side: top;
  text-align: center;
  color: black;
  font-size: 2rem;
}

.table {
  width: 100% !important;
}

.priority-low {
  background-color: #3d9970;
}

.priority-medium {
  background-color: #ffdc00;
}

.priority-high {
  background-color: #ff4136;
}
